<div class="container loginPage">
  <div class="row">
    <div class="col-xs-12 text-center loginCenter">

      <!-- ****************************LOGIN FORM STARTS HERE************************************************-->

      <div class="form-login">

        <form (ngSubmit)="onFormSubmit(loginForm)" #loginForm=ngForm>


          <h4>{{ loginFormName }}</h4>
          <!--LoginFormName -->
          <br>
          <h4>LOGIN</h4>


          <div class="form-group has-feedback">

            <input type="text" class="form-control" tooltip="Username is required!" placeholder="Username" name="username" ngModel required autocomplete="off" />
            <span class="glyphicon glyphicon-user form-control-feedback" title="User"></span>

          </div>
          <!-- UsernameInput -->


          <div class="form-group has-feedback pass">

            <input id="user-password" type="password" class="form-control" placeholder="Password" name="userpassword" tooltip="Password is required!" ngModel required />
            <span *ngIf="eyeOpen; else eyeClosed" class="form-control-feedback  glyphicon glyphicon-eye-close" (click)="changeInputType()" title="Show Password"></span>

            <ng-template #eyeClosed>
              <span class="form-control-feedback  glyphicon glyphicon-eye-open" title="Hide Password" (click)="changeInputType()"></span>
            </ng-template>

          </div>
          <!-- UserPasswordInput -->


          <br>
          <button mat-raised-button color="warn" type="submit">LOGIN</button>
          <!-- makeButtonDisabled   [disabled]= "!regPageForm.invalid"   UserFormSubmitButton -->

          <br>
          <br>
          <div *ngIf="loginForm.touched && loginForm.invalid">
            <h6 style="color: red">{{ emptyCredentialsMessage }}</h6>
          </div>
          <h5>Not yet registered?</h5>
          <button mat-raised-button color="primary" type="button" id="registerBtn" (click)="toRegisterUser()">REGISTER</button>

          <!-- ****************************LOGIN FORM ENDS HERE************************************************-->
        </form>
        <br>
        <a href="/forgotPassword" style="color: black;">Forgot Password?</a>

      </div>
      <!-- **************FormLogin Class*******************-->
    </div>
    <!-- **************COL-XS-12************************-->
  </div>
  <!-- **************ROW************************-->



</div>
<!-- **************CONTAINER************************-->