<div class="sideNav" id="sideNavBar">

  <div class="toggleSideBar" style="cursor: pointer;" *ngIf="arrowPointingLeft; else barNotification">
    <div class="sideNavButton" (click)="hideSideNav()">
      <span><i class="fa fa-arrow-circle-left" ></i></span>
    </div>
  </div>

  <ng-template #barNotification>
    <div class="sideNavButton" style="cursor: pointer;" (click)="hideSideNav()">
      <span><i class="fa fa-bars"></i></span>
    </div>
  </ng-template>

  <div class="sideNavContent" id="sideNavBarContent">
    <br>

    <label for="timelineFilter" id="timelineHeader"><span><i class = "fa fa-filter"></i></span>TIMELINE - FILTER</label>
    <hr>

    <form class="example-container" #sideNavForm="ngForm" (ngSubmit)="filterTimeline(sideNavForm)">

      <!--ApplicationType -->
      <span><i class="fa fa-cog"></i></span>
      <label for="applicationType">  Applications</label>
      <br>
      <mat-form-field [color]="'primary'">
        <mat-select placeholder="Application" required [(ngModel)]="sideNavData.application" name="application">
          <mat-option *ngFor="let option of sideNavFormData.applicationOptions" value="{{ option }}">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- SourceType -->
      <span><i class="fa fa-arrow-circle-down"></i></span>
      <label for="sources">  Sources</label>
      <br>
      <mat-form-field [color]="'primary'">
        <mat-select placeholder="Source" required [(ngModel)]="sideNavData.source" name="source">
          <mat-option *ngFor="let option of sideNavFormData.sourcesOptions" value="{{ option }}">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- IP-Address Type -->
      <span><i class="fa fa-desktop"> </i></span>
      <label for="ipAddress"> IP-Address</label>
      <br>
      <mat-form-field [color]="'primary'">
        <mat-select placeholder="IP-Address" required [(ngModel)]="sideNavData.ipAddress" name="ipAddress">
          <mat-option *ngFor="let option of sideNavFormData.ipAddressOptions" value="{{ option }}">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- Levels Type -->
      <span><i class="fa fa-level-up"> </i></span>
      <label for="applicationType"> Levels</label>
      <br>
      <mat-form-field [color]="'primary'">
        <mat-select placeholder="Level" required [(ngModel)]="sideNavData.level" name="level">
          <mat-option *ngFor="let option of sideNavFormData.levelOptions" value="{{ option }}">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <!-- Username Type -->
      <span><i class="fa fa-user"> </i></span>
      <label for="createdBy"> User Name</label>
      <br>
      <mat-form-field [color]="'primary'">
        <mat-select placeholder="User Name" required [(ngModel)]="sideNavData.createdBy" name="createdBy">
          <mat-option *ngFor="let option of sideNavFormData.createdByOptions" value="{{ option }}">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <!-- EventStatus Type -->
      <span><i class="fa fa-tasks"> </i></span>
      <label for="createdBy"> Event Status</label>
      <br>
      <mat-form-field [color]="'primary'">
        <mat-select placeholder="Event Status" required [(ngModel)]="sideNavData.status" name="status">
          <mat-option *ngFor="let option of sideNavFormData.statusOptions" value="{{ option }}">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <span><i class="fa fa-calendar"> </i></span>
      <label for="dateFilter"> Date - Filter</label>
      <br>
      <br>

      <!-- Date Filter -->
      <label for="applicationType" style="font-size: 15px;"> From - Date</label>
      <mat-form-field>
        <input matInput [matDatepicker]="fromPicker" placeholder="Choose a date" name="fromDate" [(ngModel)]="sideNavData.fromDate" required>
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
      <label for="applicationType" style="font-size: 15px;"> To - Date</label>
      <mat-form-field>
        <input matInput [matDatepicker]="toPicker" placeholder="Choose a date" name="toDate" [(ngModel)]="sideNavData.toDate" required>
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <div class="applyForm">
        <button class="btn btn-danger" [disabled]="sideNavForm.invalid" style="position: relative; margin-left: 25%;">Apply</button>
      </div>


    </form>

  </div>

</div>